<% if notice %>
  <div class="toast toast-top toast-end"  data-controller="notification"  data-notification-delay-value="2000">
    <div class="alert alert-success">
      <div>
        <span><%= notice %></span>
      </div>
    </div>
  </div>
<% end %>
